*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #3E3E3E;
}
/* from sqare file  */
.square{
  background: #3E3E3E;
  color: #FF4;
  border: 1px solid #FFF;
  padding: 36px 10px;
  /* margin: 1px; */
  display: inline;
  width: 100px;
  height: 100px;
  font-size: 30px;
  font-weight: 600;
  cursor: pointer; 
}
/* margin for the entire box from board file */
.squareBox{
  margin: 90px 450PX;
}
.squareBox > button{
  padding: 5px 20px;
  position: relative;
  top: -345px;
  left: 200px;
  font-size: 14px;
  font-weight: 600;
  background: #3E3E3E;
  color: #fff;
  cursor: pointer;
}

.squareRow{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.status{
  font-size: 25PX;
  font-weight: 600;
  color: #FFF;
  margin-bottom: 15px;
}
